@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

html {
    height:100%
}
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.blob {
    margin-top: -100px;
    width: 100%;
    padding-bottom: calc(100% * 3 / 4);
}
#left-half {
    width: 50%;
}

#menu-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-menu {
    width: 900px;
    height: 520px;
    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 0px 250px -92px rgba(255, 100, 0, 0.66);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#work-txt {
    text-align: center;
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: linear-gradient(180deg, #FFC800 0%, #FF6400 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-self: left;
    width: 20%;
}

#button-container {
    width: 80%;
    display: flex;
    justify-content: right;
}

#top-bar {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}

#new-btn {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 42.25px;
    background: linear-gradient(180deg, #FFC800 0%, #FF6400 100%);
    outline: none;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 20px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

#new-btn:hover {
    transform: scale(1.1);
}

#files {
    /*overflow-y: scroll;*/
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.file {
    border-radius: 15px;
    border: 1px solid #FFC800;
    background: #FFF;
    width:80%;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .2s all ease-in-out;
}

.file > #title {
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #FFC800 0%, #FF6400 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:10px;
}

#paragraph {
    color: #1E1E1E;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left:10px;
}

#icons-btn {
    display: flex;
    justify-content: right;
}

.icon {
    width: 25px;
    height: 25px;
    background: none;
    margin-right:10px;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

#edit-btn {
    background-image: url("edit.svg");
}

#delete-btn {
    background-image: url("trash.svg");
}

.icon:hover {
    transform: scale(1.1);
}

#nav-bar {
    position: absolute;
    left: 0;
    top: 0;
}